/*-----------------------------------------*/
/* Fonts */
/*-----------------------------------------*/

@font-face {
    font-family: 'Tiempos Text';
    src: url('../../fonts/TiemposText-Regular.eot');
    src: url('../../fonts/TiemposText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/TiemposText-Regular.woff2') format('woff2'),
        url('../../fonts/TiemposText-Regular.ttf') format('truetype'),
        url('../../fonts/TiemposText-Regular.svg#TiemposText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../../fonts/TiemposHeadline-Medium.eot');
    src: url('../../fonts/TiemposHeadline-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/TiemposHeadline-Medium.woff2') format('woff2'),
        url('../../fonts/TiemposHeadline-Medium.ttf') format('truetype'),
        url('../../fonts/TiemposHeadline-Medium.svg#TiemposHeadline-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Text';
    src: url('../../fonts/TiemposText-Medium.eot');
    src: url('../../fonts/TiemposText-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/TiemposText-Medium.woff2') format('woff2'),
        url('../../fonts/TiemposText-Medium.ttf') format('truetype'),
        url('../../fonts/TiemposText-Medium.svg#TiemposText-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('../../fonts/AlrightSans-Medium.eot');
    src: url('../../fonts/AlrightSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/AlrightSans-Medium.woff2') format('woff2'),
        url('../../fonts/AlrightSans-Medium.ttf') format('truetype'),
        url('../../fonts/AlrightSans-Medium.svg#AlrightSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('../../fonts/AlrightSans-Bold.eot');
    src: url('../../fonts/AlrightSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/AlrightSans-Bold.woff2') format('woff2'),
        url('../../fonts/AlrightSans-Bold.ttf') format('truetype'),
        url('../../fonts/AlrightSans-Bold.svg#AlrightSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('../../fonts/AlrightSans-Ultra.eot');
    src: url('../../fonts/AlrightSans-Ultra.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/AlrightSans-Ultra.woff2') format('woff2'),
        url('../../fonts/AlrightSans-Ultra.ttf') format('truetype'),
        url('../../fonts/AlrightSans-Ultra.svg#AlrightSans-Ultra') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('../../fonts/AlrightSans-Light.eot');
    src: url('../../fonts/AlrightSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/AlrightSans-Light.woff2') format('woff2'),
        url('../../fonts/AlrightSans-Light.ttf') format('truetype'),
        url('../../fonts/AlrightSans-Light.svg#AlrightSans-Light') format('svg');
    font-weight: 300;
    font-style: normal; 
}
