
/*-----------------------------------------*/
/* Global */
/*-----------------------------------------*/

html {
  font-size: $base-font-size;
}

body {
  height: 100vh;
}

a {
  color: $tomato;
  text-decoration: none;
}

/*-----------------------------------------*/
/* Background */
/*-----------------------------------------*/

body {
	background:
		linear-gradient(90deg, $white ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($white ($dot-space - $dot-size), transparent 1%) center,
		$white-two;
	background-size: $dot-space $dot-space;
}

/*-----------------------------------------*/
/* Typography */
/*-----------------------------------------*/
.logo-area {
  h5 a{
    color: $tomato;
    font-size: 10px;
    font-weight: 300;
    font-family: $alright;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-decoration: none;
  }
}

h1 {
  font-family: $tiempos-text;
  color: $dark-indigo;
  font-size: 44px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  // letter-spacing: -0.4px;
  text-align: left;

}

header h2 {
 color: $bluish-grey;
 font-size: 14px;
 font-family: $alright;
 font-weight: 300;
 font-style: normal;
}

.category {
  color: $dark-sky-blue;
  font-family: $alright; // this seems wrong
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  margin-top: 1rem;
}

.feature-content h3{
  color: $dark-indigo;
  font-family: $tiempos-headline;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  color: $dark-indigo;
  font-family: $alright; 
  opacity: 0.73;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: -0.1px;
}

/*-----------------------------------------*/
/* Container Styles */
/*-----------------------------------------*/

.newsletter-container {
  margin: 1rem;
  max-width: 600px;
  background-color: $pale-grey;
  border: 1px $pale-grey solid;
  @include tablet {
    margin: 2rem auto;
  }
  @include desktop {
    margin: 2.5rem auto;
  }
}

.inner-container{
  padding: 0 1.25rem 1.5rem;  //40px
  // background-color: $white;
  @include tablet {
    padding-left: 40px;
    padding-right: 40px;
  }
}