/*-----------------------------------------*/
/* Header */
/*-----------------------------------------*/
header.inner-container {
  background-color: white;
}

.logo-area {
   align-content: center;
   background-color: $white;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-bottom: 30px;
   h5 {
     display: inline-block;
     margin: 2rem 0;
   }
   img {
    padding: 2rem 0;
   }
   @include tablet {
    align-items: center;
    width: 100%;
   }
}

.newsletter-opener {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
  img {
    display: none;
    @include tablet {
      max-width: 100%;
      display: inherit;
    }
  }
}

.newsletter-opener-text {
  h1 {
    margin-bottom: 19px;
  }
  p {
    line-height: 1.21;
  }
  @include tablet {
    width: 50%;
  }
}

