// VARIABLES
//
// Site-wide variables

// Breakpoints

$big-phone-width: 480px;
$tablet-width: 600px;
$desktop-width: 1000px;

// Colour palette

$brand-red: #e2231a;
$light-grey: #dbdbdb;
$med-grey: #c2c2c2;
$near-black: #2e2e2e;

// Typography

$base-font-color: $near-black;
$base-font-size: 12; // px or /10 rem;

// Box Model

$base-space-unit: 1rem;
$light-grey-border: 1px solid #dbdbdb;
$med-grey-border: 2px solid #c8c8c8;
