// VARIABLES
// Site-wide variables

// Breakpoints
$big-phone-width: 480px;
$tablet-width: 600px;
$desktop-width: 1000px;

// Colour palette
$white: #ffffff;
$pale-grey: #f7f8f9;
$tomato: #ec5447;
$bluish-grey: #85939e;
$pale-red: #d9514b;
$white-two: #d8d8d8;
$dark-indigo: #0a273c;
$dark-sky-blue: #60cbe2;
$pale-grey-two: #eceef0;
$charcoal-grey: #2f363b;

// Dimensions
$dot-size: 2px;
$dot-space: 20px;

// Typography
$base-font-color: $charcoal-grey;
$base-font-size: 12px; // px or /10 rem;

$tiempos-text: 'Tiempos Text', serif;
$alright: 'Alright Sans', sans-serif;
$tiempos-headline: 'Tiempos Headline', serif;




